{% extends "base.html" %} {% block title %}Hive{% endblock %} {% block body %}
<div id="navbar-div">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" style="padding: 0px;" href="#">{% block svg %}{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-center"></span>
  </button>

        <div class="collapse navbar-collapse" style="margin-top: 0px" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link  text-center" id="home-nav" style="font-family: 'myFirstFont', serif;color: #373737;" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center" id="blog-nav" style="font-family: 'myFirstFont', serif;color: #373737;" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center " id="photos-nav" style="font-family: 'myFirstFont', serif;color: #373737;" href="#">PHOTOS</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link text-center " style="font-family: 'myFirstFont', serif;color: #373737;" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TOPICS</a>
                    <div class="dropdown-menu bg-da text-center bg-ourcolor" aria-labelledby="navbarDropdown2">
                        <a id="andre-nav" class="dropdown-item" style="font-family: 'Space Mono', cursive;" href="#"><u>PHOTOS</u></a>
                        <a id="aneeka-nav" class="dropdown-item" style="font-family: 'Space Mono', monospace;" href="#"><u>POLITICS</u></a>
                        <a id="britt-nav" class="dropdown-item" style="font-family: 'Space Mono', sans-serif;" href="#"><u>MUSIC</u></a>
                        <a id="harry-nav" class="dropdown-item" style="font-family: 'Space Mono', sans-serif;" href="#"><u>MORE</u></a>

                        <!-- <div class="dropdown-divider " style="border-color:black;"></div>
                        <a class="dropdown-item" href="#">SOMETHING</a> -->
                    </div>
                </li>







                <li class="nav-item dropdown">
                    <a class="nav-link text-center " style="font-family: 'myFirstFont', serif;color: #373737;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROFILES</a>
                    <div class="dropdown-menu bg-da text-center bg-ourcolor" aria-labelledby="navbarDropdown">
                        <a id="andre-nav" class="dropdown-item" style="font-family: 'Space Mono', cursive;" href="#"><u>ANDRÉ</u></a>
                        <a id="aneeka-nav" class="dropdown-item" style="font-family: 'Space Mono', monospace;" href="#"><u>ANEEKA</u></a>
                        <a id="britt-nav" class="dropdown-item" style="font-family: 'Space Mono', sans-serif;" href="#"><u>BRITT</u></a>
                        <a id="harry-nav" class="dropdown-item" style="font-family: 'Space Mono', sans-serif;" href="#"><u>HARRY</u></a>

                        <!-- <div class="dropdown-divider " style="border-color:black;"></div>
                        <a class="dropdown-item" href="#">SOMETHING</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a id="about-nav" class="nav-link  text-center " style="font-family: 'myFirstFont', serif;color: #373737;" href="#">ABOUT</a>
                </li>
                {#<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li> #}
            </ul>


        </div>
    </nav>
</div>


<div class="container">

      {% block landing %}
      {% endblock %}

</div>


{% endblock %}
