{% extends "svgs.html" %} {% block landing %}
<div id="blog" class="d-none">
<div class="row">


  <div class="col-lg-8 bg-white" style="margin-top:-20px;">
    <h1 style="font-family: 'mySecondFont', serif;"><b>TYLER, THE CREATOR - FLOWER BOY</b></h1>
    <hr style="border: 2px solid black;width: 50%;margin-left: -0.2rem;margin-top: -0.5rem;margin-bottom: 0.2rem;"/>
  </div>
  <div class="bg-white col-lg-8 offset-lg-2 col-sm-10" style="margin-top: -1px;">
    <img class="d-sm-none d-md-block image-fluid" src="{{url_for('static', filename='flower_boy.png')}}" style="float: left;margin-right:10px;" alt="Generic placeholder image" />
    <p style="font-family: 'lack', serif;color: #000; font-size: 1.2em;">
      <b>
    Tyler, The Creator has come so far since his days of the OG Odd Future, and along the way proven himself as a committed, talented producer and rapper. Flower Boy is Tyler's most concise and consistent album and by far his most focused work that shows his true creativity as an artist. In the past, when listening to albums such as Wolf and Cherry Bomb, Tyler often overthinks his composition by throwing in understated transitions, disorder and often creating two part songs instead of making sure it all flows. This caused his listeners to be put off and frustrated with these albums, barely giving them a proper listen. However, Flower Boy has very obvious flow, less clutter and a clear story to go along with it. Overall the album has carefully assembled arrangements that fasten together seamlessly.
  Would highly recommend checking out the Cherry Bomb documentary which is available online, as it shows Tyler's intricate production process. This documentary opened my eyes up to how much precision Tyler puts into each of his tracks. Watching Tyler produce is interesting as it is clear he always has the sound he wants in his mind and makes sure he does everything in his power to get it from both himself and his collaborative partners. Kali Uchis makes multiple appearances on this album, which is not surprising as Tyler expresses his fondness of her sound a lot in the CB documentary. Cherry Bomb itself has multiple good tracks, such as Fucking Young/ Perfect or Find Your Wings, but the album, although different from the vibe of Goblin, didn’t quite shed Tyler's aggressive skin.
</b>
    </p>
  </div>
</div>
<div >
  <hr />
</div>


<div class="col-lg-12 text-center" style="margin-top:-25px;">
  <h1 style="font-family: 'mySecondFont', serif;"><b><u>TYLER, THE CREATOR - FLOWER BOY</u></b></h1>

</div>
<div id="blog" class="col-lg-8 offset-lg-2">
  <img class="d-sm-none d-md-block image-fluid" src="{{url_for('static', filename='flower_boy.png')}}" style="float: left;margin-right:10px;" alt="Generic placeholder image" />
  <p style="font-family: 'lack', serif;color: #000; font-size: 1.2em;">
    <b>
    Tyler, The Creator has come so far since his days of the OG Odd Future, and along the way proven himself as a committed, talented producer and rapper. Flower Boy is Tyler's most concise and consistent album and by far his most focused work that shows his true creativity as an artist. In the past, when listening to albums such as Wolf and Cherry Bomb, Tyler often overthinks his composition by throwing in understated transitions, disorder and often creating two part songs instead of making sure it all flows. This caused his listeners to be put off and frustrated with these albums, barely giving them a proper listen. However, Flower Boy has very obvious flow, less clutter and a clear story to go along with it. Overall the album has carefully assembled arrangements that fasten together seamlessly.
  Would highly recommend checking out the Cherry Bomb documentary which is available online, as it shows Tyler's intricate production process. This documentary opened my eyes up to how much precision Tyler puts into each of his tracks. Watching Tyler produce is interesting as it is clear he always has the sound he wants in his mind and makes sure he does everything in his power to get it from both himself and his collaborative partners. Kali Uchis makes multiple appearances on this album, which is not surprising as Tyler expresses his fondness of her sound a lot in the CB documentary. Cherry Bomb itself has multiple good tracks, such as Fucking Young/ Perfect or Find Your Wings, but the album, although different from the vibe of Goblin, didn’t quite shed Tyler's aggressive skin.
</b></p>
</div>
</div>
<div class="d-none" id="photos">
  <div class="row photos-first-row" >
<div class="offset-lg-2 col-lg-4 col-xl-4">
  <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000014.jpg" alt="Beautiful" class="img-fluid"/>

</div>

  <div class="col-lg-6 col-xl-4">
    <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/F1020029.JPG" alt="Beautiful" class="img-fluid"/>
  </div>


  </div>
  <div class="row photos-second-row">
    <div class="col-lg">

    </div>
    <div class="col-lg">

    </div>
    <div class="col-md col-sm-12">
    <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000012.jpg" alt="Beautiful" class="img-fluid"/>
    </div>
  </div>

</div>

</div>

<div id="home" class="">
<div class="col-lg-8 bg-transparent">
<!-- <h1 class="text-center text-white" style="font-family: 'Work Sans', cursive;">RECENT</h1> -->
<div class="card bg-white " style="font-family: 'mySecondFont', cursive;">
  <div class="card-header text-center text-dark" >
    <h3>NEW BLOG POST</h3>
  </div>
  <div class="card-body "style="font-family: 'lack', cursive;">
    <h3 class="card-title text-dark text-center">HIVE IS LIVE</h3>
    <hr />
    <p class="card-text">So we just bought a website online, big deal.<br />So whos we, whats this website for and why should I care?</p>
    <a href="#" class="btn text-dark" style="font-family: 'myFirstFont', cursive;">Read more on hive here</a>
  </div>
</div>
</div>
</div>
<div id="andre" class="d-none">
  <div class="container">

  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000011.JPG" alt="Beautiful" class="img-fluid"/>
    </div>
    <div class="col-lg-6 col-xl-3 offset-lg-1">
      <span class="text-center bg-white" style="font-size: 2em;min-width: 60%; display: inline-block; font-family: 'mySecondFont';">Andre</span>
      <p style="font-family: 'lack';">
        Yeah!

      </p>
    </div>

  </div>
  </div>
</div>
<div id="aneeka" class="d-none">
  <div class="container">

  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000011.JPG" alt="Beautiful" class="img-fluid"/>
    </div>
    <div class="col-lg-6 col-xl-3 offset-lg-1">
      <span class="text-center bg-white" style="font-size: 2em;min-width: 60%; display: inline-block; font-family: 'mySecondFont';">Aneeka</span>
      <p style="font-family: 'lack';">
        Blah
        Aneeka's quote: <b>“The way you perceive it is the way
        you’re going to live it.”</b>

      </p>
    </div>

  </div>
  </div>
</div>
<div id="britt" class="d-none">
  <div class="container">

  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000011.JPG" alt="Beautiful" class="img-fluid"/>
    </div>
    <div class="col-lg-6 col-xl-3 offset-lg-1">
      <span class="text-center bg-white" style="font-size: 2em;min-width: 60%; display: inline-block; font-family: 'mySecondFont';">Britt</span>
      <p style="font-family: 'lack';">
        Britt studies Geography and Economics.
        Britt it responsible for all of our music reviews,
        of which she throughly enjoys doing because
        of her love of music.
        She also enjoys writing about topcial societal
        issues,
        Look for Britt’s work in our Blog section!

        Britt’s quote: <b>“The way you perceive it is the way
        you’re going to live it.”</b>

      </p>
    </div>

  </div>
</div>

</div>
<div id="harry" class="d-none">
  <div class="container">

  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <img src="https://s3-ap-southeast-2.amazonaws.com/hive-hotbucket/000011.JPG" alt="Beautiful" class="img-fluid"/>
    </div>
    <div class="col-lg-6 col-xl-3 offset-lg-1">
      <span class="text-center bg-white" style="font-size: 2em;min-width: 60%; display: inline-block; font-family: 'mySecondFont';">Harry</span>
      <p style="font-family: 'lack';">
        Just wanna thank my family.

      </p>
    </div>

  </div>
  </div>
</div>
<div class="d-none" id="about">
about
</div>





{% endblock %}
