{% extends "svgs.html" %} {% block landing %}
<div id="blog" class="d-none">
<div class="row">


  <div class="col-lg-12 text-center" style="margin-top:-25px;">
    <h1 style="font-family: 'mySecondFont', serif;"><b><u>TYLER, THE CREATOR - FLOWER BOY</u></b></h1>

  </div>
  <div  class="col-lg-8 offset-lg-2">
    <img class="d-sm-none d-md-block image-fluid" src="{{url_for('static', filename='flower_boy.png')}}" style="float: left;margin-right:10px;" alt="Generic placeholder image" />
    <p style="font-family: 'lack', serif;color: #000; font-size: 1.2em;">
      <b>
    Tyler, The Creator has come so far since his days of the OG Odd Future, and along the way proven himself as a committed, talented producer and rapper. Flower Boy is Tyler's most concise and consistent album and by far his most focused work that shows his true creativity as an artist. In the past, when listening to albums such as Wolf and Cherry Bomb, Tyler often overthinks his composition by throwing in understated transitions, disorder and often creating two part songs instead of making sure it all flows. This caused his listeners to be put off and frustrated with these albums, barely giving them a proper listen. However, Flower Boy has very obvious flow, less clutter and a clear story to go along with it. Overall the album has carefully assembled arrangements that fasten together seamlessly.
  Would highly recommend checking out the Cherry Bomb documentary which is available online, as it shows Tyler's intricate production process. This documentary opened my eyes up to how much precision Tyler puts into each of his tracks. Watching Tyler produce is interesting as it is clear he always has the sound he wants in his mind and makes sure he does everything in his power to get it from both himself and his collaborative partners. Kali Uchis makes multiple appearances on this album, which is not surprising as Tyler expresses his fondness of her sound a lot in the CB documentary. Cherry Bomb itself has multiple good tracks, such as Fucking Young/ Perfect or Find Your Wings, but the album, although different from the vibe of Goblin, didn’t quite shed Tyler's aggressive skin.
</b>
    </p>
  </div>
</div>
<div >
  <hr />
</div>


<div class="col-lg-12 text-center" style="margin-top:-25px;">
  <h1 style="font-family: 'mySecondFont', serif;"><b><u>TYLER, THE CREATOR - FLOWER BOY</u></b></h1>

</div>
<div id="blog" class="col-lg-8 offset-lg-2">
  <img class="d-sm-none d-md-block image-fluid" src="{{url_for('static', filename='flower_boy.png')}}" style="float: left;margin-right:10px;" alt="Generic placeholder image" />
  <p style="font-family: 'lack', serif;color: #000; font-size: 1.2em;">
    <b>
    Tyler, The Creator has come so far since his days of the OG Odd Future, and along the way proven himself as a committed, talented producer and rapper. Flower Boy is Tyler's most concise and consistent album and by far his most focused work that shows his true creativity as an artist. In the past, when listening to albums such as Wolf and Cherry Bomb, Tyler often overthinks his composition by throwing in understated transitions, disorder and often creating two part songs instead of making sure it all flows. This caused his listeners to be put off and frustrated with these albums, barely giving them a proper listen. However, Flower Boy has very obvious flow, less clutter and a clear story to go along with it. Overall the album has carefully assembled arrangements that fasten together seamlessly.
  Would highly recommend checking out the Cherry Bomb documentary which is available online, as it shows Tyler's intricate production process. This documentary opened my eyes up to how much precision Tyler puts into each of his tracks. Watching Tyler produce is interesting as it is clear he always has the sound he wants in his mind and makes sure he does everything in his power to get it from both himself and his collaborative partners. Kali Uchis makes multiple appearances on this album, which is not surprising as Tyler expresses his fondness of her sound a lot in the CB documentary. Cherry Bomb itself has multiple good tracks, such as Fucking Young/ Perfect or Find Your Wings, but the album, although different from the vibe of Goblin, didn’t quite shed Tyler's aggressive skin.
</b></p>
</div>
</div>
<div class="d-none" id="photos">
PHOTOS
</div>
<div id="home">
  
</div>


{% endblock %}
